/i4driving-ots/target/
/i4driving-ots/.classpath
/i4driving-ots/.project
/i4driving-ots/.settings/
# This file is easily >100MB so we skip it, including the .csv.meta file
prototyping/socialpressure/rho.csv*
*.jar
*.asv